article > p {
  margin-left: 40px;
}

body {
  font-family: "Oxygen", sans-serif;
  padding: 50px 0;
}

blockquote {
  border-left: 3px solid #ccc;
  padding-left: 15px;
}

code {
  background-color: #eee;
  border: 1px solid #aaa;
  overflow: scroll;
  padding: 2px 3px;
  white-space: nowrap;
}

footer {
  margin-top: 200px;
}

h2 {
  margin: 30px 0;
}

h3, h4, h5 {
  margin-bottom: 5px;
}

h4 {
  margin-left: 20px;
}

main {
  margin-left: 40px;
}

ul {
  list-style-type: none;
}

.wrapper {
  margin: 0 auto;
  width: 75%;
}
